# <font color=blue>Assignments for "Visualization with Matplotlib"</font>

In this assignment, you will make some plots about Corona. First, download the [Coronavirus Source Data](https://ourworldindata.org/coronavirus-source-data).

- First, filter the data for four countries (Spain, France, Germany, Italy) and the last 100 days. 

- Create a figure with two subplots. The left subplot will show total cases, and the right one will show total deaths for these countries

- Set titles, X and Y labels, change the font, font size, and font color for each subplot.

- Change color, width, and type of lines.

- Put a legend to bottom right.

- Change the color and rotation of the X-axis ticks.

- And set a title for the figure (not for the plots).

In [50]:
import pandas as pd
covid = pd.read_csv('owid-covid-data.csv')
covid.head()
country = ["ESP", "DEU", "ITA", 'FRA']
for n in country:
    new_array = covid[(covid['iso_code'] == n)]
new_array
#covid[(covid['iso_code'] == 'ESP') | (covid['iso_code'] == 'DEU') | (covid['iso_code'] == 'ITA') | (covid['iso_code'] == 'FRA')]

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
10686,FRA,Europe,France,2019-12-31,0.0,0.0,0.0,0.0,0.000,0.000,...,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66
10687,FRA,Europe,France,2020-01-01,0.0,0.0,0.0,0.0,0.000,0.000,...,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66
10688,FRA,Europe,France,2020-01-02,0.0,0.0,0.0,0.0,0.000,0.000,...,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66
10689,FRA,Europe,France,2020-01-03,0.0,0.0,0.0,0.0,0.000,0.000,...,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66
10690,FRA,Europe,France,2020-01-04,0.0,0.0,0.0,0.0,0.000,0.000,...,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10892,FRA,Europe,France,2020-07-24,179398.0,1062.0,30182.0,10.0,2748.404,16.270,...,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66
10893,FRA,Europe,France,2020-07-25,180528.0,1130.0,30192.0,10.0,2765.716,17.312,...,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66
10894,FRA,Europe,France,2020-07-26,180528.0,0.0,30192.0,0.0,2765.716,0.000,...,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66
10895,FRA,Europe,France,2020-07-27,180528.0,0.0,30192.0,0.0,2765.716,0.000,...,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66
10896,FRA,Europe,France,2020-07-28,183079.0,2551.0,30209.0,17.0,2804.798,39.082,...,13.079,38605.671,NaN,86.06,4.77,30.1,35.6,NaN,5.98,82.66